@font-face {font-family: 'Simpl-Mono';
src: url('../fonts/SimplonMono-Regular.eot'),
url('../fonts/SimplonMono-Regular.woff') format('woff');
}


@font-face {font-family: 'Simpl';
src: url('../fonts/SimplonNorm-Light-WebXL.eot'),
url('../fonts/SimplonNorm-Light-WebXL.woff') format('woff');
}


@font-face {font-family: 'Simpl-Regular';
src: url('../fonts/SimplonNorm-Regular-WebXL.eot'),
url('../fonts/SimplonNorm-Regular-WebXL.woff') format('woff');
}