.large{
	font-size: 2rem;
}

.med{
	font-size: 1rem;
}

.small{
	font-size: .8rem;
}

.tiny{
	font-size: .7rem;
}

.huge-headline{
	font-size: 4.9rem;
	font-family: map-get($triton-type, light);
	font-weight: normal;
	margin: 0;
	color: $white;
	line-height: 1.1;
}