// ---------------------------------
// Button component styles
// ---------------------------------

.button{
  width: $button-width;
  height: $button-height;
  margin: 0;
  border: 0;
  color: $white;
  text-transform: uppercase;
  letter-spacing: .13rem;
  &.auto{
    width:auto;
    height: auto;
    padding: 1rem 1.2rem;
  }
  &.fat{
    width:100%;
    height: auto;
    font-size: 1.2rem;
    padding: 1.2rem;
  }
  &.green{
    background-color: $green;
    &:hover{
      background-color: darken($green, 3%);
    }
  }
  &.is-active{
    background-color: $blue;
  }
  &.blank{
    background-image: none !important;
    cursor: auto;
    &:hover, &.is-active{
      background-color: inherit;
    }
  }
  &.grey{
  	background-color: $dark-gray;
  	&:hover, &.is-active{
  		background-color: $medium-gray;
  	}
  }
  &.small{
    width: $button-width-small;
    height: $button-height-small; 
  }
}