// ---------------------------------
// Button set component styles
// ---------------------------------

.button-set{
  .button{
    float: left;
  }
  .button:not(:first-child){
    &:after{
      content: "";
      width: 1px;
      height:19px;
      position: relative;
      top:9px;
      left: 0;
      background-color: $black;
      display: block;
    }
  }
  &:hover{
    .button{
      &:after{
        visibility: hidden;
      }
    }
  }
  .info{
    color: $medium-gray;
    text-align: center;
  }
}