// ---------------------------------
// Control bar component styles
// ---------------------------------

.control-bars{
	margin: 0; padding: 0;
	background-color: $light-gray;
	clear: both;
	list-style: none;
	font-family: $body-font-family;

	.bar{
		display: block;
		margin: 0; padding: 0 .4rem;
		box-shadow: inset 0 -1px 0 0 rgba($medium-gray, .25);
		background: $dark-gray;
		&:last-child{
			box-shadow: none;
		}
		&:hover{
			background: darken($dark-gray, 5%);
			transition: all 0.25s ease-out;
			.parent{
				color: $white;
			}
		}
		.submenu{
			padding: .6rem;
			a{
				text-decoration: none;
				color: $dark-gray;
				padding: .3rem;
				&:hover{
					color: $blue;
				}
			}
		}
		.parent, .no-menu{
			@include vertical-align();
			color: $medium-gray;
			text-decoration: none;
			padding: .5rem 0;
		}
		label{
			color: $medium-gray;
			padding: 0 .4rem 0 .1rem;
		}
	}
}

/* overwriting foundation settings for menu arrows */
.dropdown.menu.vertical>li.opens-right>a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 4px inset;
    border-color: transparent transparent transparent #979797;
    border-left-style: solid;
    border-right-width: 0;
}

.dropdown.menu.vertical>li>a::after {
    right: 14px;
    margin-top: -4px;
}