// ---------------------------------
// Form component styles
// ---------------------------------

input[type="text"]{
  background-color: $medium-gray;
  border: 0;
  color: $white;
  font-family: map-get($triton-type, secondary);
  padding: 0 .2rem;
}
