.panel-info{
  font-family: map-get($triton-type, secondary);
  background-color: map-get($triton-palette, mild-grey);
  color: $darkish-gray;
  /* lists are left aligned by default */
  ul{
    margin:0;
    padding: .05rem .2rem .05rem .1rem;
    list-style: none;
    width: 100%;
    li{
      vertical-align: text-top;
      display: inline-block;
      padding: 0 .75rem 0 0;
      &:first-child{
        padding-left: 1rem;
      }
      span{
        margin-right: .2rem;
      }
      &.right{
        float: right;
        padding-right: 1rem;
        ul{
          padding: 0;
          li:last-child{
            padding-right: 0;
          }
        }
      }
    }
  }
}