// ---------------------------------
// Range slider component styles
// ---------------------------------

.range-slider{
  position: relative;
  clear: both;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  input[type=range][orient=vertical]{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 14px;
    height: 209px;
    padding: 0;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background-image: url('../img/opacity-bar@3x.png');
    background-size: 14px 209px;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    margin: 0px;
    padding: 0px;
    border: 0 none;
    color: transparent;
    overflow: visible;
  }
  input[type=range]::-webkit-slider-thumb {
    position: relative;
    left: 21px;
    width: 24px;
    height: 16px;
    border-radius: 0px;
    border: 0 none;
    background: transparent; /* hidden but used to map position of custom thumb slider in js */
    -webkit-appearance: none;
    cursor: pointer;
  }
  #sliderthumb {
    width: 24px;
    height: 16px;
    background-image: url('../img/opacity-slider@3x.png');
    background-size: 24px 16px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    left: 15px;
    top: 0px; /* controlled by js */
    border: 0 none;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
}