// ---------------------------------
// Tab component styles
// ---------------------------------

.tabs{
  text-transform: uppercase;
  padding: 0;
  background-color: $light-gray;
  border: 0;
  .tabs-title{
    a{
      font-size: .95rem;
      letter-spacing: .05rem;
      color: $medium-gray;
      text-decoration: none;
    }
    &.is-active{
      a{
        -webkit-box-shadow: inset 0px 3px 0px 0px $blue;
        -moz-box-shadow: inset 0px 3px 0px 0px $blue;
        box-shadow: inset 0px 3px 0px 0px $blue;
        color: $dark-gray;
      }
    }
  }
}

.tabs-content{
  border: 0;
}

.tabs-content{
  overflow: hidden;
}