.table-wrap{
  /* height of table set with JS */
  &.border{

  }
  table{
    margin-bottom: 0;
    tbody,thead{
      tr{
        background: none;
        th{
          font-weight: normal;
        }
        td{
          color: $inactive-gray;
          a{
            cursor: pointer;
            &.selected{
              color: $blue;
            }
          }
        }
      }
    }
    /* two table types */
    &.coordinates{
      font-size: .8rem;
      color: $medium-gray;
      font-family: map-get($triton-type, secondary);
      border: none;
      tr {
          border-top: none;
      }

      tr + tr {
          border-top: 1px solid $mild-gray;
      }

      td {
          border-left: none;
      }

      td + td {
          border-left: 1px solid $mild-gray;
      }
      thead{
        th{
          border-left: 1px solid $mild-gray;
          border-bottom: 1px solid $mild-gray;
          &:first-child{
            border-left: none;
          }
          text-align: center;
          color: $medium-gray;
        }
      }
      tbody{
        tr{
          text-align: center;
        }
      }
    }
    &.options{

      thead{
        display: block;
        background-color: $dark-gray;
        color: $white;
        .right{
          text-align: right;
          padding-right: .5rem;
        }
        span{
          display: inline-block;
          margin: 0 1rem;
          @include opacity(0.4);
        }
      }
      tbody{
        display: block;
        border-left: 2px solid $mild-gray;
        border-right: 2px solid $mild-gray;
        overflow-y: auto;
        tr{
          height: 100%;
          display: table;
          vertical-align: top;
          td{
            padding: .5rem 4rem .5rem .5rem;
            a{
              display: table;
            }
          }
        }
        td:not(:first-child){
          border-left: 1px solid $mild-gray;
        }
      }
    }
  }
}
