// ---------------------------------
// Toolbar component styles
// ---------------------------------

.toolbar{
  margin:0;
  float: left;
  background-color: $black;
  &.bleed{
      height: 100%;
  }
  &.one-up{
    .button{
      clear: left;
    }
  }
  &.two-up{
    width: $button-width * 2;
  }
  .button{
    float: left;
  }
  .flyout{
    position: relative;
    &:after{
      content: '';
      width: 12px;
      height: 12px;
      display: block;
      position: relative;
      top:12px;
      left:12px;
      background-color: purple;
    }
    &[data-color="default"]{
      &:after{
        background-color: $blue;
      }
    }
    &[data-color="red"]{
      &:after{
        background-color: red;
      }
    }
    &[data-color="yellow"]{
      &:after{
        background-color: yellow;
      }
    }
    &[data-color="green"]{
      &:after{
        background-color: green;
      }
    }
    &[data-color="orange"]{
      &:after{
        background-color: orange;
      }
    }
    &[data-color="purple"]{
      &:after{
        background-color: purple;
      }
    }
    .options{
      position: absolute;
      left: $button-width; /* button width - should dynamically set? */
      top: 0px;
      width: 37px;
      height: 53px;
      padding: .092rem;
      padding-left: .1rem;
      background: $medium-gray;
      @include opacity(0);
      visibility: hidden;
      /* wait for opacity to fade, then turn off */
      transition: visibility .3s, opacity 0.2s linear;
      &.is-active{
        /* turn on immediately and fade in */
        transition: visibility 0s, opacity 0.2s linear;
        @include opacity(1);
        visibility: visible;
      }
      .color{
        background-image: none;
        width: 14px;
        height: 14px;
        margin: .092rem;
        &:hover{
          background-image: none;
          @include opacity(.7);
        }
        &.red{
          background-color: red;
        }
        &.green{
          background-color: green;
        }
        &.yellow{
          background-color: yellow;
        }
        &.orange{
          background-color: orange;
        }
        &.purple{
          background-color: purple;
        }
        &.default{
          background-color: $blue;
        }
      }

    }
  }
  &.culture{
    .button{
      background-image: url('../img/culture-icons-grey@3x.png');
      background-repeat: no-repeat;
      background-size: 25px 354px;
      &:hover, &.is-active{
        background-image: url('../img/culture-icons-white@3x.png');
      }
      &.magnify-select{
        background-position: 6px 6px;
      }
      &.magnify{
        background-position: 6px -31px;
      }
      &.zoom-in{
        background-position: 6px -68px;
      }
      &.zoom-out{
        background-position: 6px -105px;
      }
      &.square-three{
        background-position: 6px -142px;
      }
      &.square{
        background-position: 6px -179px;
      }
      &.square-four{
        background-position: 6px -216px;
      }
      &.align-top{
        background-position: 6px -253px;
      }
      &.align-bottom{
        background-position: 6px -290px;
      }
      &.info{
        background-position: 6px -327px;
      }
    }
  }
  &.seismic{
    .button{
      background-image: url('../img/seismic-icons@3x.png');
      background-repeat: no-repeat;
      background-size: 61px 306px;
      &:hover, &.is-active{
        background-image: url('../img/seismic-icons-white@3x.png');
      }
      &.scroll-left{
        background-position: 6px 8px;
      }
      &.scroll-right{
        background-position: -31px 8px;
      }
      &.magnify-select{
        background-position: 6px -31px;
      }
      &.crop{
        background-position: -31px -31px;
      }
      &.pinch-left{
        background-position: 6px -68px;
      }
      &.pinch-right{
        background-position: -31px -68px;
      }
      &.align-bottom{
        background-position: 6px -105px;
      }
      &.rotate{
        background-position: -31px -105px;
      }
      &.color{
        background-position: 6px -141px;
      }
      &.horizontal-in{
        background-position: 6px -216px;
      }
      &.horizontal-out{
        background-position: -31px -216px;
      }
      &.vertical-in{
        background-position: 6px -277px;
      }
      &.vertical-out{
        background-position: -31px -277px;
      }
    }    
  }
  &.polygon{
    .button{
      img{
        width: 50%;
        @include vertical-align;
        @include opacity(.5);
      }
      &:hover, &.is-active{
        img{
          @include opacity(1);
        }
      }
    }
  }
  &.paginate{
    width: 100%;
    float: none;
    height: $button-height-small;
    .button{
      &:last-child{
        float: right;
      }
    }
    .button{
      background-image: url('../img/seismic-icons@3x.png');
      background-repeat: no-repeat;
      background-size: 47px 236px;
      &.scroll-left{
        background-position: 5px 7px;
      }
      &.scroll-right{
        background-position: -23px 7px;
      } 
    }  
  }
}