// ---------------------------------
// Login for app
// ---------------------------------

#login{
  header{
    position: fixed;
    top:0;
    width:100%;
    padding: 1.4rem 0;
  }

  footer{
    position: fixed;
    width: 100%;
    bottom:0;
    color: $medium-gray;
    background-color: $black;
    letter-spacing: .08rem;
  }

  main{
    padding-top: 28vh;
    height: 100vh;
    background: url('../img/login-background@3x.png') 0 0 no-repeat;
    background-size: contain;
    background-color: $blue;
    .sub{
      color: #90a3da; /* TODO: add to styleguide? */
      width: 70%;
    }
  }

  .login-box{
    border-top: 6px solid $black;
    form, .welcome{
      margin:0;
      padding: 1.4rem;
      background-color: $dark-gray;     
    }
    form{
      input[type="text"], input[type="password"]{
        width: 100%;
        padding: 1.2rem;
        background-color: $white;
        border: none;
        margin: .4rem 0;
        font-size: 1.2em;
        color: $medium-gray;
      }
      input[type="text"]{
        margin-top: 0;
      }
      input[type="password"]{
        margin-bottom: 0;
      }
    }
    .welcome{
      .button{
        margin-top: 1.4rem;
      }
    }
    ul{
      list-style: none;
      margin: 0;
      /*margin-bottom: 1.4rem;*/
      padding: 0;
      color: $medium-gray;
    }
    hr{
      border: 0;
      height: 0;
      margin: 1.4rem 0;
      border-bottom: 1px solid rgba($black, .8);
      &.condense{
        margin: .8rem 0;
      }        
    } 
    .message{
      margin:0;
      padding: 1.4rem;
      &.error{
        color: #db001b; /* TODO: add to styleguide? */
        background-color: $black;
      }
      &.instruction{
        color: $medium-gray;
        background-color: $dark-gray;
        padding-bottom: 0;
      }
      &.success{
        &:before{
          content: '';
          vertical-align: middle;
          display: inline-block;
          position: relative;
          left: -8px;
          width: 27px;
          height: 27px;
          background: url('../img/login-checkmark@3x.png') 0 0 no-repeat;
          background-size: 27px 27px;
        }
      }
    }
  }
}