#styleguide{
  header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    color: $medium-gray;
    .top-bar-left{
      padding: .7rem 0 .3rem 1rem;
      h1{
        display: inline-block;
        font-weight: normal;
        margin:0;padding:0;
        font-size: 1.45rem;
        margin-left: .5rem;
        vertical-align: top;
        &:before{
          content: "|";
          margin-right: .5rem;
        }
      }
    }
  }

  main{
    position: absolute;
    padding-top: 66px; /* height of header, should probably set in js */
    bottom:0;
    width: 100%;
  }

  hr{
    margin-bottom: 2rem;
    border: 1px solid $light-gray;
  }

  section{
    padding: 2rem 1rem 3.5rem 1rem;
  }

  pre{
    margin: 0;
  }

  code{
    border: 1px solid $mild-gray;
    background-color: $light-gray;
    padding: 1rem;
    display: block;
  }

  .clearfix{
    clear: both;
  }

  #style-wrap{
    height: 100%;
  }

  #style-nav{
    height: 100%;
    position: fixed;
    background-color: map-get($triton-palette, mild-grey);
    padding-top: 1rem;
    .menu{
      padding: .5rem;
      a{
        cursor: pointer;
        &:hover{
          @include opacity(.7);
        }
      }
      .selected{
        a{
          color: $blue;
        }
      }
      .header{
        font-size: 1.2rem;
        a{
         padding-left: 0;
        }
      }
    }
  }

  #style-content{
    background-color: $white;
    p{
      max-width: 70%;
    }
    .definition{
      display: none;
      &.is-active-nav{
        display: block;
      }
    }
    /* Colors */
    #color-list{
      margin:0; padding:0;
      list-style: none;
      li{
        display: inline-block;
        float: left;
        margin: 0 1rem 1rem 0;
        width: 125px;
        height: 125px;
        background-color: red;
        box-shadow: inset 0px 22px 0px 0px rgba($mild-gray,1);
        text-align: center;
        vertical-align: bottom;
        &:last-child{
          margin:0;
        }
      }
    }

    /* Type */
    #type{
      .default{
        font-size: 1.9rem;
        font-family: map-get($triton-type, primary);
      }
      .secondary{
        font-size: 1.9rem;
        font-family: map-get($triton-type, secondary);
      }
    }

    /* Buttons */
    .button{
      &.magnify{
        background-image: url('../img/culture-icons-grey@3x.png');
        background-repeat: no-repeat;
        background-size: 25px 354px;
        background-position: 6px -31px;
        &:hover, &.is-active{
          background-image: url('../img/culture-icons-white@3x.png');
        }
      }
      &.scroll-left{
        background-image: url('../img/seismic-icons@3x.png');
        background-repeat: no-repeat;
        background-size: 61px 306px;
        background-position: 6px 8px;
        &:hover, &.is-active{
          background-image: url('../img/seismic-icons-white@3x.png');
        }
      }
      &.scroll-right{
        background-image: url('../img/seismic-icons@3x.png');
        background-repeat: no-repeat;
        background-size: 61px 306px;
        background-position: -31px 8px;
        &:hover, &.is-active{
          background-image: url('../img/seismic-icons-white@3x.png');
        }
      }
    }

    /* Tabs */
    .tabs-content{
      background-color: $mild-gray;
      p{
        margin: 1rem;
      }
    }
  }
}