// ---------------------------------
// Layout for app
// ---------------------------------

#triton-view{
  header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    color: $medium-gray;
    .top-bar-left{
      padding: .7rem 0 .3rem 1rem;
    }
    .top-bar-right{
      /*@include vertical-align;*/
      padding: .7rem 1rem .3rem 1rem;
    }
    #nav{
      line-height: 0;
      list-style: none;
      margin:0;padding:0;
      li{
        padding: 0;
        margin: 0 0 0 1.8rem;
        display: inline-block;
        a{
          display: inline-block;
          vertical-align: middle;
          &.icon{
            background-image: url('../img/header-icons@3x.png');
            background-repeat: no-repeat;
            background-size: 84px 25px;
            width: 27px;
            height: 27px;
            &:hover{
              @include opacity(.75);
            }
            &.settings{
              background-position: 0px 0px;
            } 
            &.screen-toggle{
              background-position: -59px 0px;
            }    
          } 
        }      
      }
    }
  }

  footer{
    position: absolute;
    font-family: map-get($triton-type, secondary);
    font-size: .8rem;
    color: $darkish-gray;
    bottom: 0;
    width: 100%;
    z-index: 1;
    .top-bar{
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: $mild-gray;
      .top-bar-left{
        img{
          width: 28px;
          display: inline-block;
          margin-right: .5rem;
        }
      }
    }
  }
  main{
    position: absolute;
    padding-top: 56px; /* height of header, should probably set in js */
    padding-bottom: 62px; /* height of footer, should probably set in js */
    bottom:0;
    width: 100%;
  }

  .panel-wrap{
    height: 100%;
    width: 50%;
    float: left;
  }

  .panel{
    height: 100%;
    width: 100%;
  }

  .panel-content{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .panel-controls{

  }

  .canvas-wrap{
    margin-left: $button-width * 2;
    height: 100%;
    background-color: #bbb;
    &.bleed{
      margin: 0;
    }
  }

  #left-canvas{
    height: 60%;
    padding: .5rem .25rem .25rem .5rem;
  }

  #right-canvas{
    height: 100%;
    padding: .5rem .5rem .5rem .25rem;
  }

  #left-tabs{
    height: 40%;
    padding: .25rem .25rem .5rem .5rem;
    #tab-polygons{
      .table-wrap{
        overflow: auto;
        border-bottom: 2px solid $mild-gray;
        border-right: 2px solid $mild-gray;
      }
      .control-bars{
        #halo{
          margin-left: .1rem;
          width: 50px;
        }
      }
    }
    #surveys{
      thead{
        border-top: 2px solid $mild-gray;
        tr{
          display: table;
          width: 100%;
        }
        th{

        }
      }
    }
    #culture{
      tbody{
        box-shadow: inset 0px -2px 0px 0px rgba($mild-gray,1);
      }
    }
  }
}

#pop-out{
  main{
    padding: 0;
  }
  .panel-wrap{
    width: 100%;
  }
}